@import "tailwindcss";
@import "@chatscope/chat-ui-kit-styles/dist/default/styles.min.css";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }

  /* Shifts the gradient from left to right */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .big-skills-item {
    @apply md:w-full lg:w-1/3 p-5 flex flex-col items-center border border-white transition duration-300;

    &:hover {
      @apply text-gray-700;

      span {
        svg {
          @apply text-gray-700;
        }
      }
    }

    &.yellow {
      &:hover {
        @apply bg-linear-to-b from-amber-100 to-amber-300;
      }
    }

    &.green {
      &:hover {
        @apply bg-linear-to-b from-green-100 to-green-300;
      }
    }

    &.blue {
      &:hover {
        @apply bg-linear-to-b from-sky-100 to-sky-300;
      }
    }

    &.red {
      &:hover {
        @apply bg-linear-to-b from-red-100 to-red-300;
      }
    }

    span {
      svg {
        @apply w-15 h-15 text-gray-800 text-white;
      }
    }

    &:hover {

      span.yellow {
        svg {
          @apply text-yellow-200;
        }
      }

      span.green {
        svg {
          @apply text-teal-500;
        }
      }

      span.blue {
        svg {
          @apply text-sky-400;
        }
      }
    }

    h1 {
      @apply text-2xl font-semibold;
    }

    p {
      @apply text-xs font-mono;
    }

    hr {
      width: 100%;
      background-color: #ededed;
      @apply mt-4 mb-2;
    }

    h2 {
      @apply text-lg font-mono;
    }

    .skills {
      display: flex;
      flex-wrap: wrap;

      .skill {
        @apply bg-gray-700 rounded-lg mx-1 my-1 px-2 py-1 text-xs font-semibold text-white;
        text-wrap: nowrap;
      }
    }
  }

  .experience-item {
    @apply mb-3;

    .item-title-left {
      @apply flex-1 text-left;
    }

    .item-title-right {
      @apply w-1/3 text-right;
    }

    .experience-item-title {
      cursor: pointer;
      @apply flex flex-col w-full bg-sky-800 rounded-xs text-xs sm:text-sm md:text-base;

      .item-title {
        @apply flex py-3 px-6 font-semibold;
      }
    }

    .experience-body {
      @apply bg-sky-100 transition duration-300 ease-out data-closed:-translate-y-6 data-closed:opacity-0;

      .item-sub-title {
        @apply flex py-2 px-6 bg-sky-200 text-gray-600 text-sm font-semibold font-mono;
      }

      ul {
        @apply py-2 mx-3 text-black font-mono text-sm;

        li {
          @apply my-2 bg-white p-2 rounded-xs;
        }
      }
    }
  }

  .project-item {
    @apply bg-gray-900 md:w-full lg:w-1/3 mx-3 flex flex-col items-center border border-white;

    .project-body {
      @apply px-5 py-2;

      h1 {
        @apply text-lg font-semibold;
      }

      p {
        @apply text-sm font-mono;
      }
    }
  }
}

.chat-ui {
  .cs-conversation-header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cs-message-list {
      @apply text-sm;

      .cs-message__html-content {
        @apply font-mono;
      }
    }
  }

  .cs-conversation-header {
    @apply p-0 bg-sky-100 border-none;
  }

  .cs-message-list {
    @apply bg-sky-100
  }

  .cs-message__content {
    @apply font-mono text-xs;
  }

  .cs-message-input {
    @apply bg-sky-100 border-none;
  }

  .cs-message-input__content-editor-wrapper {
    @apply rounded-md bg-white;

    .cs-message-input__content-editor-container {
      background-color: transparent;

      .cs-message-input__content-editor {
        background-color: transparent;
        @apply font-mono text-sm;
      }
    }
  }
}