@import "tailwindcss";
@import "@chatscope/chat-ui-kit-styles/dist/default/styles.min.css";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  animation: slide 12s ease-in-out infinite alternate;
  background-image: linear-gradient(-40deg, var(--color-sky-500) 50%, var(--color-green-400) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: absolute;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 16s;
}

.bg3 {
  animation-duration: 20s;
}

h1 {
  font-family: monospace;
}

@layer components {
  .expertise {
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #ffffff 0.5px);
    background-size: 42px 42px;
    background-position: 0 0, 21px 21px;

    .big-skills-item {
      @apply md:w-full lg:w-1/3 p-5 flex flex-col items-center border border-gray-700 transition duration-300 bg-white;

      &.yellow {
        &:hover {
          @apply bg-yellow-100;
        }
      }

      &.green {
        &:hover {
          @apply bg-green-100;
        }
      }

      &.blue {
        &:hover {
          @apply bg-sky-100;
        }
      }

      &.red {
        &:hover {
          @apply bg-linear-to-b from-red-100 to-red-300;
        }
      }

      &.indigo {
        &:hover {
          @apply bg-indigo-100;
        }
      } 

      span {
        svg {
          @apply w-15 h-15 text-gray-700;
        }
      }

      h1 {
        @apply text-2xl font-semibold;
      }

      p {
        @apply text-sm font-mono;
      }

      hr {
        width: 100%;
        background-color: #ededed;
        @apply mt-4 mb-2;
      }

      h2 {
        @apply text-lg;
      }

      .skills {
        display: flex;
        flex-wrap: wrap;

        .skill {
          @apply bg-gray-700 rounded-lg mx-1 my-1 px-2 py-1 text-xs font-semibold text-white;
          text-wrap: nowrap;
        }
      }
    }
  }

  .experience-item {
    @apply mb-3;

    .item-title-left {
      @apply flex-1 text-left;
    }

    .item-title-right {
      @apply flex-1 text-right;
    }

    .experience-item-title {
      cursor: pointer;
      @apply flex flex-col w-full bg-sky-600 rounded-xs text-xs sm:text-sm md:text-base;

      .item-title {
        @apply flex w-full py-3 px-4 md:px-6 font-semibold;
      }
    }

    .experience-body {
      @apply bg-sky-100 transition duration-300 ease-out data-closed:-translate-y-6 data-closed:opacity-0 text-gray-700;

      .item-sub-title {
        @apply flex py-2 px-4 md:px-6 bg-sky-200 text-gray-600 text-xs md:text-sm font-semibold;
      }

      ul {
        @apply py-2 mx-3 font-mono text-sm;

        li {
          @apply my-2 bg-white p-2 rounded-xs;
        }
      }

      .tools {
        @apply flex flex-wrap px-3 pb-2;

        .tool {
          @apply bg-teal-200 rounded-lg mx-1 mb-2 px-2 py-1 text-xs font-semibold text-gray-600;
          text-wrap: nowrap;
        }
      }
    }
  }

  .projects {
    .project-item {
      @apply bg-black md:w-full lg:w-1/3 mx-3 flex flex-col items-center border border-white;

      .project-body {
        @apply w-full px-5 py-2;

        h1 {
          @apply text-lg font-semibold;
        }

        p {
          @apply text-sm font-mono;
        }
      }
    }
  }

  .contact {
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #ffffff 0.5px);
    background-size: 42px 42px;
    background-position: 0 0, 21px 21px;
  }
}

.chat-ui {
  .cs-conversation-header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .cs-message-list {
      @apply text-sm;
    }
  }

  .cs-conversation-header {
    @apply p-0 bg-sky-100 border-none;
  }

  .cs-message-list {
    @apply bg-sky-100 py-2;

    .cs-message--outgoing {
      .cs-message__content {
        @apply bg-sky-700 text-white;
      }
    }
  }

  .cs-message__content {
    @apply font-mono text-xs;
  }

  .cs-message-input {
    @apply bg-sky-100 border-none pl-4 px-1 py-3;
  }

  .cs-main-container {
    border: none;
  }

  .cs-chat-container .cs-message-input .cs-message-input__content-editor-wrapper:first-child {
    @apply bg-white ml-0
  }

  .cs-message-input__content-editor-wrapper {
    @apply rounded-full;

    .cs-message-input__content-editor-container {
      background-color: transparent;

      .cs-message-input__content-editor {
        background-color: transparent;
        @apply font-mono text-sm;
      }
    }
  }
}